 .containerHome{
   background-image: url(./img/Home2.jpg);
   min-height: 100vh; 
   display: flex;
   flex-direction: column;
   font-family:'Times New Roman', Times, serif;
   background-size:auto;
 }
 
 .footer {
    font-family:monospace;
    font-size: 2em;
    background-color: #4b5a5d;
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: 2em;
 
    
  }
  .footer {
    font-family:monospace;
    font-size: 2em;
    background-color: #4b5a5d;
    color: white;
    padding: 5px;
    text-align: center;
    /* Asegura que el footer se fije al final de la página */
    margin-top: 2em;
 
  }
 
  .imageCheck{
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
  }
  .page{
    font-family: "PumpOpti";
    outline: none;
    padding: 1em;
    border: 2px dashed #1595cb;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 0 0 0 4px rgb(220, 243, 247), 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
  }
  .button{
    background-color:rgb(26, 43, 194) 
  }