.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  6px 6px 12px #a1a1a1,
  -6px -6px 12px #ffffff;
  background-image: url(./img/NavBar1.png);
  background-size: cover;
  height: 200%;
  padding-bottom: 10%;
}

.containerButtons{
  margin-top: 2em;
} 

.button{
font-family: "PumpOpti";
text-shadow: 2px 0px 0px rgb(3, 10, 10);
color: rgb(22, 114, 114);
padding: 0.7em;
font-size: 1.5em;
margin-left: 1em;
margin-right: 3em;
margin-top: 5em;
}


/* @media screen and (width<= 700px) {
  .container{
  justify-content:left;
  box-shadow:  6px 6px 12px #a1a1a1,
  -6px -6px 12px #ffffff;
  background-image: url(./img/NavBarResponsive.png);
  background-size: cover;
  }

  .containerButtons {
    margin-top: 1em;
    display:flex;
    justify-content:flex-end;
  }

  .button{
  font-family: "PumpOpti";
  color: azure;
  border-bottom: 2px solid;
  font-size: 1em;  
  }

}

@media screen and (min-width: 1001px) {
  .container{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  6px 6px 12px #a1a1a1,
    -6px -6px 12px #ffffff;
    background-image: url(./img/NavBar.png);
    background-size: cover;
    height: 200%;
    width: 203vh;
    padding-bottom: 10%;
  }
}

 @media screen and (width: 1280px) {
  .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  6px 6px 12px #a1a1a1,
    -6px -6px 12px #ffffff;
    background-image:  url(./img/NavBar.png);
    background-size: cover;
    height: 200%;
    width: 100%;
    padding-bottom: 10%;
  }
}  */